<h1>Coach Answers</h1>

<div class="phone-card">
  <p class="message">Your Question:</p>
  <p class="message mgs-left"> <%= @question %></p>
  <p class="message msg-right">Coach answer:</p>
 <p class="message msg-right"><%= @answer %></p>
 <p id='reask'><%= link_to "< Ask another question", "/ask" %></p>
</div>
