/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .phone-card {
  background-color: rgb(97, 90, 160);
  width: 600px;
 margin: auto;
 padding: 36px;
 display: flex;
 flex-direction: column;
 }

 .message {
  background-color: rgb(139, 132, 200);
  padding: 4px 16px;
  border-radius: 4px;

  color: white;
  font-weight: 500;
 }

 .msg-left {
  text-align: left;
  justify-content: left;
 }

 .msg-right {
  text-align: right;
 }

 h1 {
  text-align: center;
 }

 #reask {
  margin-top: 32px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: gray;
  padding: 4px 16px;
  border-radius: 4px;
 }

 form {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
 }
